﻿.admin-panel {
	width: 940px;
	margin: 40px 10px;
	direction:ltr;
	text-align:left;
	background:url(images/bg.jpg);
	padding:20px;
}
.admin-panel * {
	padding: 0;
	margin: 0;
}
.clear {
	clear: both;
}
.logo{
	background:url(images/logo.png) no-repeat top;
	width: 96px;
	height: 23px;
	float:left;
	margin: 5px auto 20px;
}
.admin-panel-head {

	height: 100px;
	overflow: hidden;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #FFF;
	display: none;
}
.admin-panel-content h2{
	margin-bottom:50px;
	font-size:20pt;
	border-bottom:double 4px #ccc;
	padding-bottom:8px;
	margin-top:10px;
	float:left;

}
.admin-panel-head .left-block {
	float: left;
	padding: 20px;
	text-align: center;
}
.mpanel-submit {
	float: right;
	margin-right:8px
}
.mpanel-reset{
	float: left;
}
input.mpanel-save , input.mpanel-reset-button, a.mpanel-reset-button {
	padding: 8px 16px;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,.1);
	text-align: center;
	text-decoration: none;
	border:none;
	clear: both;
	cursor: pointer;
	font-weight: bold;
	background: #33B5E5;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

a.mpanel-reset-button {background:#d54e21; color:#fff}

input.mpanel-save:hover , input.mpanel-reset-button:hover{
		background: #16a5d7;
}
input.mpanel-reset-button{ 

	background: red;
}
input.mpanel-reset-button:hover{ 
	background:#333;
}
.small_button {
	padding: 4px 8px 4px;
	margin-left:5px;
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
	border: 1px solid #CCC;
	cursor:pointer;
	color: #777;
}
#_weblusive_promotext, #_weblusive_promotext-item{display:none;}
#upload_image_button:hover{	border-color:#999; color: #464646;}
.extra-text{
	display:block;
	clear:both;
	padding:4px 0 0 205px;
}
.admin-panel-tabs {
	width: 185px;
	float: left;
	padding-bottom: 25px;
	background:url(images/bg-sidebar.png)
}
.admin-panel-tabs ul {
	border-top:1px solid #333;
	border-bottom:1px solid #555;
}
.admin-panel-tabs li {
	border-bottom:1px dotted #111;
	border-top:1px dotted #555;
	list-style:none;
}
.admin-panel-tabs li a {
	padding: 20px 10px;
	display: block;
	text-shadow: 0 1px 1px #333;
	color: #ccc;	
	cursor: pointer;
	border: 0;
	outline: none;
	text-decoration: none;
	-webkit-transition: background ease-in-out 0.2s , padding  ease-in-out 0.2s;
	-moz-transition: background ease-in-out 0.2s , padding  ease-in-out 0.2s;
	-o-transition: background ease-in-out 0.2s , padding  ease-in-out 0.2s;
	transition: background  ease-in-out 0.2s , padding  ease-in-out 0.2s;
	font-size:14px;
}
.admin-panel-tabs li a:hover, .admin-panel-tabs li.active a {
	background-color: #777;
	padding-right:15px;
	padding-left:15px;
	background: url(images/nav-hover.png);
	border-radius: 3px;
	box-shadow: inset 0px 0px 1px 0px #000;
}
}
.admin-panel-tabs li.active {
	position: relative;
	width: 185px;
	border:0 none;
}

.admin-panel-tabs li a span{
	width:32px;
	height:32px;
	display:inline-block;
	float:left;
	margin-right:8px;
	margin-top:-4px;
	background: url(images/icons.png) no-repeat;
}


.admin-panel-tabs li.advanced span{background-position: -462px -11px ;width: 27px;height: 29px;}
.admin-panel-tabs li.blog span{background-position: -313px -14px ;width: 23px;height: 22px; margin-top:-2px}
.admin-panel-tabs li.contact span{background-position: -411px -14px ;width: 27px;height: 22px;}
.admin-panel-tabs li.footer span{background-position: -113px -13px ;width: 24px;height: 24px;}
.admin-panel-tabs li.header span{background-position: -62px -13px ;width: 24px;height: 24px;}
.admin-panel-tabs li.main-settings span{background-position: -11px -11px ;width: 29px;height: 29px;}
.admin-panel-tabs li.sidebars span{background-position: -163px -14px ;width: 23px;height: 24px;}
.admin-panel-tabs li.styling span{background-position: -213px -14px ;width: 24px;height: 24px;}
.admin-panel-tabs li.typography span{background-position: -265px -13px ;width: 20px;height: 23px;}
.admin-panel-tabs li.underconstruction span{background-position: -362px -14px ;width: 26px;height: 21px; }



.admin-panel-content {
	background: url('images/content_bg.jpg') ;
	padding: 20px;
	float: right;
	width: 715px;
	min-height:600px;
	position:relative;
	padding-bottom:85px;
	overflow:hidden;
}
.admin-panel-content.full-content {float:none; width:auto}
.admin-panel-content.full-content h2 {float:none}
div.option-item input[type=text], div.option-item textarea, #pricing-table input[type=text] {
	background: #fff url(images/input-bg.png) repeat-x top;
	padding: 4px 5px;

	width: 250px;
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px rgba(0,0,0,.05);
	box-shadow: 0 1px rgba(0, 0, 0, .05);
}

div.option-item input[type=text]:focus, div.option-item textarea:focus {
	border: solid 1px #c2c2c2;
}
div.option-item select, #pricing-table select {
	background: #fff url(images/input-bg.png) repeat-x top;
	padding: 4px 5px;
	
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px rgba(0,0,0,.05);
	box-shadow: 0 1px rgba(0, 0, 0, .05);
	width:250px;
	height:27px;
}
.admin-panel-content p {
	margin: 0;
	padding: 10px 0;
	clear: both;
}
div.option-item{
	clear:both;
	padding:8px 15px ;
	overflow:hidden;
	background:url(images/sep.png) repeat-x bottom;
	position:relative;
}
div.option-item:last-child{ background:transparent;}
.weblusivepanel-item .label {
	width: 205px;
	display: inline-block;
	float:left;
	padding-top:4px ;
	font-size:11pt;
}
.tags-list {
	padding-right: 250px;
	display: none;
}
.mo-help {
	background: url(images/help.png) no-repeat top;
	width: 16px;
	height: 16px;
	display: inline-block;
	cursor: help;
	position:absolute;
	top:19px;
	right:10px;
}
#theme-pattern{
	height: 281px;
	overflow: auto;		
}
#theme-pattern img{
	border-color:#cdcdcd;
}
.weblusive-options li {
	float: left;
	margin: 5px 21px;
}
.weblusive-options img {
	background: white;
padding: 4px;
margin: 0 0 5px;
border: solid 1px #CCC;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}
.weblusive-options img:hover {
	background: #33B5E5 !important;
}
.weblusive-options .selected img {
	background:  #ffc000 !important;
}
.weblusive-options li input {
	display: none;
}
.img-preview {
	margin: 10px 0;
	text-align: left;
	border:4px solid #CCC;
	float:right;
	clear:both;
	position:relative;
	line-height:0;
}
.img-preview img{
	max-width: 100%;
}
.img-preview  .del-img{ position:absolute;
	left:-10px;
	bottom:-10px;
	background:url(images/delete.png) no-repeat top;
	width:20px;
	height:20px;
	cursor:pointer;
}
#cat_sortable li ,  #sidebarsList li , #customList li{
	margin: 5px 0 10px;
	overflow: hidden;
	list-style:none;
}
.ui-state-highlight {
	background-color: #fffdea;
	border: 1px dashed #ffd38c;
	height: 50px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.ui-state-default {
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#cat_sortable .widget-head , #sidebarsList .widget-head , #customList .widget-head{
	background-color: #777;
	background-image: -ms-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -moz-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -o-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -webkit-gradient(linear,left bottom,left top,from(#6D6D6D),to(gray));
	background-image: -webkit-linear-gradient(bottom,#6D6D6D,gray);
	background-image: linear-gradient(bottom,#6D6D6D,gray);
	padding: 7px;
	cursor: move;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 1px 1px #555;
}
#cat_sortable .widget-content {
	background: #F9F9F9;
	padding: 10px;
	display: none;
	position:relative;
}
#cat_sortable .widget-content label {
	line-height: 25px;
	display:block;
	padding:5px 0;
}
#cat_sortable .widget-content label span {
	padding-right: 5px;
	width:200px;
	display:inline-block;
}
#cat_sortable .widget-content textarea{
	width:482px;
	height:100px;
}
#sidebarsList,  , #customList {padding-top:10px;}
#sidebarsList li  , #customList li{margin: 10px 0 0;}
#sidebarsList .widget-head  , #customList .widget-head{
	background-color: #777;
	background-image: -ms-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -moz-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -o-linear-gradient(bottom,#6D6D6D,gray);
	background-image: -webkit-gradient(linear,left bottom,left top,from(#6D6D6D),to(gray));
	background-image: -webkit-linear-gradient(bottom,#6D6D6D,gray);
	background-image: linear-gradient(bottom,#6D6D6D,gray);
	padding: 7px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 1px 1px #555;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position:relative;
}
 #customList .widget-head a{color:#FFF; text-decoration:none;}
 #customList .widget-head a:hover{ text-decoration:underline;}
.del-sidebar , .del-custom-text{
	position: absolute;
	right: 5px;
	top:5px;
	background: url(images/delete.png) no-repeat top;
	width: 20px;
	height: 20px;
	cursor: pointer;	
}
.del-cat {
	background: url(images/trash.png) no-repeat top;
	display: block;
	z-index:99999;
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
	position:absolute;
	top:10px;
	right:10px;
}
a.toggle-open, a.toggle-close {
	float: right;
	color: #FFF;
	cursor: pointer;
	font-size: 12pt;
	padding: 2px 10px;
}
a.toggle-close {
	display: none;
}
#tabs_cats li {list-style:none; display:block; float:left; }
#tabs_cats li input {
	display: none;
}
#tabs_cats .ui-state-highlight{
	display: block;
	cursor: pointer;
	width: 162px;
	float: left;
	margin: 0px 15px 15px 0px;
	height:30px;
			
}
#tabs_cats li span  {
	display: block;
	cursor: pointer;
	width: 132px;
	float: left;
	margin: 0px 15px 15px 0px;
	background: url(images/no.png) no-repeat left;
	padding: 4px;
	padding-left:30px;
}
#tabs_cats li.selected span {
	background: url(images/yes.png) no-repeat left;
}

.weblusivepanel-item {
	margin: 0 0 20px;
	background: #fff ;
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
	-moz-box-shadow:1px 1px 2px 0 rgba(0, 0, 0, .3);
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
	overflow: hidden;
	clear:both;
	position:relative;
	
}
.weblusivepanel-item h3 {
	background:linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(243,243,243,1) 100%);
	border-bottom: 1px solid #ccc;
	margin: 0 0 10px;
	padding: 8px 10px;
	cursor:default !important;
	font-size:14px;
	
}
.ui-slider{
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
	border:1px solid #E6E6E6;
	height: .8em;
	position: relative;
	text-align: left;
	width:230px;
	margin-top:8px;
	float:left;
	margin-right:15px;
	-moz-border-radius: 5px;
	-khtml-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.5em;
	cursor: default;
	background: #33B5E5;
	background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#33B5E5),color-stop(100%,#16a5d7));
	background: -webkit-linear-gradient(top,#33B5E5 0,#16a5d7 100%);
	background: -moz-linear-gradient(top,#33B5E5 0,#16a5d7 100%);
	background: -o-linear-gradient(top,#33B5E5 0,#16a5d7 100%);
	background: -ms-linear-gradient(top,#33B5E5 0,#16a5d7 100%);
	background: linear-gradient(top,#33B5E5 0,#16a5d7 100%);
	font-weight: normal;
	color: #555;
	top: -.5em;
	margin-left: -.6em;
	cursor:pointer;
}
.home-builder-buttons{ margin:10px 0 20px;}
.home-builder-buttons a{
	background:url(images/add.png) no-repeat top left;
	padding-left:18px;
	margin-right:14px;
	cursor:pointer;
	
}
#add-divider{margin-right:0;}
#cat_sortable li.removered .widget-head , #sidebarsList li.removered .widget-head , #customList li.removered .widget-head {background: #ff0000;}
#cat_sortable li.removered .widget-content, #weblusive-slider-items li.removered  .widget-content { background:#ffeded;}
#collapse-all, #expand-all{font-size:90%;float:right;margin-left:10px;margin-right:3px;cursor:pointer;color:#888;}
#collapse-all:hover, #expand-all:hover{color:#000; text-decoration:underline;}




#weblusive-slider-items .widget-content {
	background:#fff;
	padding: 10px;
	position:relative;
}
#weblusive-slider-items  .widget-content label {
	line-height: 25px;
	display:block;
	padding:7px 0;
}
#weblusive-slider-items  .widget-content label span {
	padding-right: 5px;
	width:95px;
	display:inline-block;
}
#weblusive-slider-items .widget-content textarea{
	width:482px;
	height:50px;
}
#weblusive-slider-items li{
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px rgba(0,0,0,.05);
	box-shadow: 0 1px rgba(0, 0, 0, .05);
}
#weblusive-slider-items  .slider-img{
	display: inline;
	float: right;
	margin: 0;
	margin-right: 5px;
	margin-top: 8px;
	overflow: hidden;
	width: 80px;
	height: 80px;
	border: 2px dotted #ccc;
	
	z-index: 999;
}
#weblusive-slider-items img { height:150px; width:150px; margin:-40px;}
#weblusive-slider-items .del-cat { bottom:10px; top:auto;}

.weblusive-cats-options li{margin-right:8px !important;}
.weblusive-cats-options li img{ width:100px;}

#save-alert {
	margin: -40px 0 0 -40px;
	height: 80px;
	width: 80px;
	background: rgba(0, 0, 0, .8) url(images/loading.gif) no-repeat center;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	display:none;
}
.save-done{background: rgba(0, 0, 0, .8) url(images/done.png) no-repeat center !important;}
.save-error{background: rgba(0, 0, 0, .8) url(images/error.png) no-repeat center !important;}
.jquery-checkbox {display: inline; font-size: 20px; line-height: 20px; cursor: pointer;}
.jquery-checkbox .mark {display: inline; }
.jquery-checkbox img {vertical-align: middle; width: 80px; height: 23px;}
.jquery-checkbox img{background: transparent url(images/checkbox.png) no-repeat;}
.jquery-checkbox img{
	background-position: 0px bottom;
}
.jquery-checkbox-checked img{
	background-position: 0px 0;
}
.color-pic{
	position:relative;
	width: 28px;
	height: 28px;
	float:left;
	margin-right:5px;
}
.color-pic div{
	background: url(images/select2.png) center;
	position: absolute;
	width: 28px;
	height: 28px;
}
.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(images/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(images/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(images/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(images/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(images/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(images/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(images/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(images/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(images/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(images/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(images/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}

#slider_cat-item, #slider_posts-item, #slider_pages-item, #slider_custom-item,
#weblusive_video_url-item,#_weblusive_post_slider-item, #_weblusive_promotext{display:none;}

#weblusive_hide_meta, #weblusive_hide_author, #weblusive_hide_share, #weblusive_hide_related{width:60px;}
.mo-footer{
	background-color: #F1F1F1;
	margin:0 -20px -20px;
	border-top:4px solid #ddd;
	padding:10px;
	position:absolute;
	bottom:20px;
	width:735px;
}
.portfolio-listing li {display:inline; margin-right:10px}

#theme-skins li{ margin: 5px 13px; }
#theme-skins img{max-width:250px;}


input.minimal-textbox.custom-tm {width:40px !important; margin-top:4px}

/**************** PRICING TABLES  ********************/

#pricing-table{margin:20px 10px}
#pricing-table .column{position:relative; height: 100%; text-align:center; margin:0;}
#pricing-table li{line-height:36px; list-style:none;padding:4px 6px 6px; font-size:16px; color:#999999}
#pricing-table li.last-item{background:none}
#pricing-table li.table-head{background: url('images/bg.jpg'); padding:10px}
#pricing-table ul{width: 274px; background:url('images/content_bg.jpg'); margin-left:8px; margin-right:8px; border:dotted 1px #ccc}
#pricing-table li.table-footer{background: #fafafa !important; padding:10px 0px; margin:10px 0 0 0;border-top: 1px solid #FFFFFF;}
#pricing-table li.table-footer label {color:#333; font-size:13px; font-weight:bold; display:inline-block; width:58px}
#pricing-table li.table-footer p{background: url('images/sep.png') repeat-y right; padding:4px 0px}
#pricing-table h2{background: #333 no-repeat right; font-size:18px; color:#fff;margin-bottom: 0;}
#pricing-table h2 span{font-size:30px; color:#ff9933}
#pricing-table h2 sup{font-size:14px}

#pricing-table input[type="text"]{width:180px; font-size:15px}
#pricing-table .table-head textarea{width:180px; margin-top:10px; height:60px}
#pricing-table .table-footer  input[type=text] {width:180px}
#pricing-table .table-head  input[type="text"]{margin-bottom:10px; margin-top:10px}
#pricing-table .table-head label{display:inline-block; width:70px; margin-left:0; vertical-align:top; margin-top:16px; font-size:13px; font-weight:bold; color:#eee; text-shadow:#000 0px 1px 1px}
#pricing-table label{ width:150px; margin-left:8px; text-align:left; line-height:16px}

#pricing-table .table-footer select{width:180px}
#pricing-table .table-footer p{margin:0px }
#pricing-table li.table-footer p.ibadge{border-top:dotted 1px #ccc; margin-top:20px; padding-top:20px}
column, .columns {float: left;display: inline;}
.list-table {border-collapse:collapse;width:100%;border-left:solid 1px #ccc;border-bottom:solid 1px #ccc;}
.list-table th {color:#fff;text-shadow:#000 1px 0px 0px;padding:8px; text-align:left; font-weight:bold;background: #222;border-right:solid 1px #bbb;}
.list-table td {padding:0.2em; color:#111;border-right:solid 1px #ccc;padding:10px;}
.list-table tr td {background: #f9f9f9;background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ebebeb));background: -moz-linear-gradient(top,  #f9f9f9,  #ebebeb);}
.list-table tr.alternate td {background: #e8e8e8;background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#e8e8e8));background: -moz-linear-gradient(top,  #e3e3e3,  #e8e8e8);}

li.error-image {background: url('../img/error.png') no-repeat right top;}


ul.stepy-titles {list-style: none;margin: 0;padding: 0;width: 100%;margin-bottom:20px;}
ul.stepy-titles li {color: #ddd;cursor: pointer;font: bold 16px arial;float: left;padding: 10px;border:dotted 1px #CCC;margin-right:20px;  background-color: white;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin: 0 30px 30px 0;
    padding: 10px;
    text-align: left;
    width: 125px;
    -webkit-box-shadow:  1px 1px 2px 0 rgba(0, 0, 0, .3);
    box-shadow:  1px 1px 2px 0 rgba(0, 0, 0, .3);
    position: relative;
    transition: all .2s linear;
    -webkit-transition: all .2s linear; /* Safari */}
ul.stepy-titles li.current-step {color: #111;cursor: auto;	background:#F8F8F8;background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#eee));background: -moz-linear-gradient(top,  #f8f8f8,  #eee);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#eeeeee');}
ul.stepy-titles li span {font: 11px verdana;display: block; margin-top:6px}
.wp_themeSkin .mceSeparator { border-right:solid 1px #eee; border-left:solid 1px #ddd; height:24px; margin:0px 6px; display:block !important}
.admin-panel-content p.info { color: #3a87ad; background-color: #d9edf7;border-color: #bce8f1; padding:8px 10px; margin-bottom:20px}
/*****************************************************/

/* ---------------------------------------------
 Tooltip
------------------------------------------------ */
.right10 {margin-right:10px; }
.hint-title {font-weight:bold; border-bottom:solid 1px #ccc; padding-bottom:4px; }	
a.tooltip, a.tooldown{display:inline-block; }
.tipsy { font-size: 11px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner {font-size:12px !Important; line-height:16px; background-color: #33B5E5; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 0 2px #fff; -webkit-box-shadow: 0 0 2px #fff; -moz-box-shadow: 0 0 2px #fff; }
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #33B5E5; }
  
  .tipsy-arrow-n { border-bottom-color: #33B5E5; }
  .tipsy-arrow-s { border-top-color: #33B5E5; }
  .tipsy-arrow-e { border-left-color: #33B5E5; }
  .tipsy-arrow-w { border-right-color: #33B5E5; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }